// ***************************************
//                HEADER
// ***************************************
header nav
    margin-top: 2.67vw

header nav ul
    display: flex
    justify-content: space-between
    height: 27.2px


header nav ul li:first-of-type, header nav ul li:last-of-type
    height: 100%
    padding-left: 3px
    a
        display: flex 
        font-size: 12.61px
        font-weight: 500
        padding: 0
        width: 100%
        height: 100%
        padding-top: 0px
        background-color: $lightgrey
        border-radius: 50px
        align-items: center

        div
            width: 25.2px
            height: 25.2px
            margin-left: 1px
            background-color: $grey
            display: flex
            justify-content: center
            align-items: center
            border-radius: 50px


        span
            margin: 0 13px 0 5px

        svg
            position: relative
            left: -1px
            top: -0.1px
            width: 12px

header h2, header h1 
    margin-left: 7.73vw

header h2 
    font-size: 32.9432px

header h2:first-of-type 
    margin-top: 14.9vh
    margin-bottom: 20px

header h2:nth-of-type(2)
    margin-bottom: 20px

header h2:nth-of-type(2) > a 
    text-decoration: underline

header h2 > span
    font-weight: 300

header h1 
    font-size: 98.8296px
    text-transform: uppercase
    transform-origin: top left
    position: relative
    top: 23px
    left: 219px
    transform: rotate(90deg)
    height: 530px
    
header > p 
    font-weight: 500
    font-size: 16px
    transform-origin: top left
    transform: rotate(270deg)
    position: absolute
    bottom: 20px
    right: -10px


// ***************************************
//             CHAPTER INTRO'S
// ***************************************

.chapter1 > section:first-of-type, .chapter2 > section:first-of-type, footer > p, footer > a, footer > ul
    margin-left: 7.73vw


.chapter1, .chapter2
    overflow: hidden

    .chapter1bookmark, .chapter2bookmark, .the-endbookmark
        font-size: 10.99px
        margin-top: 36.34vh
        margin-bottom: 47px
        img
            position: relative
            top: 2px
            margin-right: 2px
    
    h2
        font-size: 36.63px
        margin-bottom: 36.34vh

        span
            margin-right: 100%

    .picturecontainer
        height: 100vh
        width: 100vw
        margin-bottom: 10.7vh

        .pictureme
            height: 100%
            width: 100%
            background-image: url(../img/Juul-Vrasdonk.jpg)
            background-position: center
            background-size: cover
            position: relative
        a
            display: flex 
            font-size: 12.61px
            font-weight: 500
            padding: 0
            max-width: -webkit-max-content 
            height: 27.2px
            padding-top: 0px
            background-color: $lightgrey
            border-radius: 50px
            align-items: center
            position: absolute
            bottom: 10px
            left: 10px

            div
                width: 25.2px
                height: 25.2px
                margin-left: 1px
                background-color: $grey
                display: flex
                justify-content: center
                align-items: center
                border-radius: 50px


            span
                margin: 0 13px 0 5px

            svg
                position: relative
                left: -1px
                top: -0.1px
                width: 12px

// ***************************************
//        SPECIFIC CHAPTER 2 STUFF
// ***************************************

.chapter2 section:nth-of-type(2) > article
        position: relative
        width: 128px
        height: 34.77px
        border: 1px solid $black
        border-radius: 50px
        display: flex
        justify-content: space-around
        align-items: center
        z-index: 999
        backdrop-filter: blur(50px) invert(0)
        strong
            font-size: 24.42px

        .line   
            height: .79px
            width: 11.06px
            background-color: $black
        .ball
            height: 18.96px
            width: 18.96px
            background-color: $blue
            border-radius: 50%
            position: absolute
            top: 7px
            left: 53px
            opacity: .1
            transition: all 1s cubic-bezier(.71,0,.33,0.56) 0ms


.chapter2 > section:last-of-type
    display: flex
    flex-direction: column
    align-items: center

    article:hover .ball
        left: 6px
    .ball.one 
        opacity: 1
    .ball.two 
        transition-delay: 3ms
      
    .ball.three 
        transition-delay: 6ms
      
    .ball.four
        transition-delay: 9ms
      
    .ball.five
        transition-delay: 11ms
      
    .ball.six
        transition-delay: 14ms
      
    .ball.seven
        transition-delay: 17ms
      
    .ball.eight 
        transition-delay: 20ms
      
    .ball.nine 
        transition-delay: 23ms
      
    .ball.ten
        transition-delay: 26ms
      
    .ball.eleven
        transition-delay: 29ms
      
    .ball.twelve
        transition-delay: 32ms
      
    .ball.thirteen
        transition-delay: 35ms
      
    .ball.fourteen
        transition-delay: 38ms
      
    .ball.fiveteen
        transition-delay: 41ms
      
    .ball.sixteen
        transition-delay: 44ms
      
    .ball.seventeen
        transition-delay: 47ms
      
    .ball.eighteen
        transition-delay: 50ms
      
    .ball.nineteen
        transition-delay: 53ms
      
    .ball.twent
        transition-delay: 56ms
      
.chapter2 section:last-of-type > .cardstack > li 
    width: 95%
    margin: 0 auto
    border: 3.18px solid $black
    padding: 1px
    border-radius: 27.27px

    div
        width: 99%
        height: 75vw
        background-color: $bannergrey
        border-radius: 23.22px
        margin: auto
        display: flex
        justify-content: center
        align-items: center
        overflow: hidden
        position: relative
    
    h3 
        font-size: 29.09px
        margin: 22px
    
    p 
        line-height: 1.2
        font-size: 14px
        margin-left: 22px
        margin-right: 24px
        margin-bottom: 15px

    section
        display: flex
        flex-direction: column
        margin-left: 22px

        h4
            font-weight: 500
            margin-bottom: 6px

        ul 
            display: flex
            flex-wrap: wrap
            margin-bottom: 10p

            li
                font-size: 7.83px
                font-weight: 500
                padding: 7px 16px
                background-color: $lightgrey
                border-radius: 20px
                margin-right: 3px
                margin-bottom: 5px
        a
            font-size: 10.91px
            font-weight: 600
            background-color: $blue
            display: flex
            border-radius: 9.09px
            align-items: center
            color: white
            padding: 2px 2px 2px 12px
            width: auto
            max-width: -webkit-max-content
            margin-bottom: 29px
            margin-top: 6px


            .arrowsection
                background-color: $lightblue
                height: 26.02px
                width: 26.02px
                border-radius: 6.82px
                margin: 0px 0px 0px 13px


.euroutebanner img
    position: absolute


.euroutebanner img:nth-of-type(2)
    top: 0
    right: 0

.euroutebanner img:last-of-type 
    left: 0
    bottom: 0


// ***************************************
//                FOOTER
// ***************************************
footer 
    position: relative
    height: 100vh
    padding-top: 28vh
    width: 94.66vw

footer .the-endbookmark
    font-size: 10.99px
    margin-bottom: 47px

    img
        position: relative
        top: 2px
        margin-right: 2px
    
footer p 
    line-height: 1.8
    margin-bottom: 46px

footer > a:first-of-type
    font-size: 25.03px
    font-weight: 600

footer ul 
    display: flex
    flex-wrap: wrap
    margin-top: 51px
    margin-bottom: 159px

    li:nth-of-type(1), li:nth-of-type(2)
        margin-bottom: 19px

    li:nth-of-type(2), li:nth-of-type(4)
        margin-left: 6px
    li:nth-of-type(2)
        margin-right: 7em

    li a
        display: flex 
        font-size: 12.61px
        font-weight: 500
        padding: 0
        width: 100%
        height: 100%
        padding-top: 0px
        background-color: $lightgrey
        border-radius: 50px
        align-items: center
        box-shadow: 0px 0.810247px 5.67173px rgba(175, 175, 175, 0.25)

        div
            width: 25.2px
            height: 25.2px
            margin-left: 1px
            background-color: $grey
            display: flex
            justify-content: center
            align-items: center
            border-radius: 50px


        span
            margin: 0 13px 0 5px

        img
            position: relative
            left: -1px
            top: -0.1px
            width: 12px
footer > div
        position: absolute
        bottom: 0px
        display: flex
        justify-content: center 
        width: 100%
        height: 55px
        